# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode/*
!.vscode/settings.json
!.vscode/launch.json
.dev-dependencies

# misc
npm-debug.log
/**/*.DS_Store
.dccache

# tests
/test
/coverage
/.nyc_output

# dist
dist
.env
